body{
    background-image: url(../images/146610-large-star-wars-star-background-1920x1080.jpg);
    background-attachment:fixed ;
}

header{
    background-color: #565656;
    width: 100%;
    position: fixed;
    top: 0px;
}

section{
    width: 80%;
    margin-top: 10% ;
    margin-left: 10%;
    background-color: #565656;
}

h1{
    text-align: center;
    color: yellow;
}

aside{
    color: white;
    position: fixed;
    top: 4.5%;
    height: 100%;
    width: 10%;
    text-align: center;
    background-color:#565656;
}

header a{
    color: white !important;
}
footer{
    position:fixed;
    bottom: 0px;
    width: 100%;
    background-color: #565656;
}

footer p{
    color: white;
    margin-bottom: 0px;
    text-align: center;
}
.card-body{
    background-color: #565656;
    cursor: pointer;
}

.info-film{
    margin-top: 10% ;
    margin-left: 20%;
    margin-bottom: 110px;
    padding-bottom: 10px;
    background-color: #565656;
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}