body{
    background: url(../image/background.jpg);
    background-attachment: fixed;
}

header{
    position: sticky;
    top: 0px;
    background-color: #000f2b;
}

header .clickable{
    color: white;
}

header .clickable:hover{
    color: yellow;
}

footer{
    background-color: #000f2b;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 99999999999999; /* sert a deal avec le carousel dans l'index */
}

footer p{
    margin-bottom: 0px;
}